$gold: #debf79;
$white: #ffffff;
$darkGray: #222222;
$midGray: #858585;
$lightGray: #f5f5f5;
$red: #800000;

.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  background: linear-gradient(90deg, $darkGray 50%, $white 50%);
}

.contactInfoContainer {
  color: white;
  width: 50%;
}

.infoContainer {
  margin: 150px auto;
  width: 60%;
  height: 200px;
}

.contactFormContainer {
  color: $darkGray;
  width: 50%;
}

.formContainer {
  margin: 50px auto;
  width: 60%;
}

.formTitle {
  font-weight: 700;
  margin-bottom: 50px;
}

.formItem {
  background-color: #f5f5f5;
}

.formEmailError {
  float: left;
  color: $red;
  font-weight: 700;
  position: relative;
  left: 65%;
  transform: translate(0%, -135%);
}

.formMessage {
  position: relative;
  transform: translate(0%, -5%);
}

.formBtnContainer {
  text-align: center;
}

.formBtn {
  font-size: 12px;
  padding: 10px;
  background: $gold;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: $white;
  border: none;
}

.formBtnError {
  position: relative;
  transform: translate(0%, -20%);
}

.hidden {
  display: none;
}
